html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, aquamarine, aqua);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    color: gray;
    background-color: whitesmoke;
    padding: 20px 0;
    box-shadow: 0 1px 2px darkgray;
}

.round {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    font-weight: bold;
}

@keyframes scoreAn {
    0% {
        color: coral;
        transform: scale(3);
        font-weight: bold;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes GameOverAn {
    0% {
        transform: scale(2);
        font-weight: bold;
        color: red;
    }
    100% {
        transform: scale(1);
        color: red;
    }
}

@keyframes YouWinAn {
    0% {
        transform: scale(2);
        font-weight: bold;
        color: green;
    }
    100% {
        transform: scale(1);
        color: green;
    }
}

@keyframes TieAn {
    0% {
        transform: scale(2);
        font-weight: bold;
        color: orange;
    }
    100% {
        transform: scale(1);
        color: orange;
    }
}

@media (max-width: 500px) {    
    h1 {
        font-size: large;
    }

    .flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 8%;
    }

    .designForComputer, .designForPlayer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .computer, .player {
        margin-right: 5%;
    }

    .Score {
        margin: 0 9%;
    }

    #cScoreOutput, #pScoreOutput {
        display: flex;
        justify-content: center;
        animation-duration: 1s;
    }

    .circleComputer, .circlePlayer {
        background-color: whitesmoke;
        margin: 0 2%;
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        box-shadow: 0 0 3px darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circleComputer i, .circlePlayer i {
        transform: scale(5);
    }

    .container {
        display: flex;
        justify-content: center;
        border: 1px solid whitesmoke;
        height: 60px;
        box-shadow: 0 0 5px white;
        background-color: whitesmoke;
        margin: 8% 0;
    }

    .result {
        display: flex;
        align-items: center;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }

    .playBtn {
        position: absolute;
        margin: 55px auto;
        padding: 5px 15px;
        background-image: linear-gradient(to right bottom,coral,orange);
        border: 1px solid whitesmoke;
        border-radius: 15px;
        box-shadow: 0 0 10px white;
        color: white;
        font-weight: bold;
        font-size: 1em;
    }

    .playBtn:hover {
        cursor: pointer;
        background-image: linear-gradient(to bottom right, darkgray, white);
    }

    .choiceBtn {
        display: flex;
        justify-content: center;
        margin: 5%;
    }

    .choiceBtn button {
        margin: 15px 10px;
        background-color: whitesmoke;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .choiceBtn button:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
        background-image: linear-gradient(to bottom right, aquamarine, aqua);       
    }

    i {
        transform: scale(2);
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 1.5em;
        padding: 5px;
    }

    .round {
        font-size: 1.5em;
        margin-top: 20px;
    }

    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: -40px;
    }

    .designForComputer, .designForPlayer {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1em;
    }

    .designForComputer {
        float: left;
    }

    .designForPlayer {
        float: right;
    }

    .circleComputer, .circlePlayer {
        width: 15vw;
        height: 15vw;
        background-color: whitesmoke;
        border-radius: 50%;
        box-shadow: 0 0 3px darkgray;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circleComputer i, .circlePlayer i {
        transform: scale(5);
    }

    #cScoreOutput, #pScoreOutput {
        display: inline-flex;
        margin-left: 50px;
        animation-duration: 1s;
    }

    .container {
        border: 1px solid whitesmoke;
        border-radius: 20px;
        height: 10vw;
        width: 30vw;
        box-shadow: 0 0 5px darkgray;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px 10px;
        float: left;
    }

    .result {
        animation-iteration-count: infinite;
        animation-duration: 2s;
        font-size: 1.7vmax;
        text-align: center;
        margin: 8% auto;
    }

    .choiceBtn {
        display: flex;
        justify-content: center;
    }

    .choiceBtn button {
        margin: 15px 10px;
        background-color: whitesmoke;
        width: 5em;
        height: 5em;
        border-radius: 50%;
    }

    .choiceBtn button:hover {
        cursor: pointer;
        box-shadow: 0 0 10px white;
        background-image: linear-gradient(to bottom right, aquamarine, aqua);       
    }

    i {
        transform: scale(3);
    }

    .playBtn {
        position: absolute;
        margin-top: 10%;
        padding: 15px 35px;
        background-image: linear-gradient(to right bottom,coral,orange);
        border: 1px solid whitesmoke;
        border-radius: 15px;
        box-shadow: 0 0 10px white;
        color: white;
        font-weight: bold;
        font-size: 1em;
        z-index: 1;
    }

    .playBtn:hover {
        cursor: pointer;
        background-image: linear-gradient(to bottom right, darkgray, white);
    }

}